<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes"/>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <script type="text/javascript" src="js/schedule.js"></script>
        <title>Scheduling Page</title>
    </head>
    <body>
        <img src="/images/gizmo-logo.png">
        <hr />
        <div>
            <form onsubmit="return send_schedule()">
                <div class="caption">
                    Schedule
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </body>
</html>
