<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes"/>
        <meta http-equiv="refresh" content="60">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <title>Sensors</title>
    </head>
    <body>
        <img src="/images/gizmo-logo.png">
        <hr />
        <div class="grid">
            <div class="cell">
                <div class="value">{{temperature}}</div>
                <div class="bottom">°C</div>
            </div>
            <div class="cell">
                <div class="value">{{ec}}</div>
                <div class="bottom">Seimens/cm</div>
            </div>
            <div class="cell">
                <div class="value">{{ph}}</div>
                <div class="bottom">pH</div>
            </div>
        </div>
    </body>
</html>
