<!DOCTYPE HTML>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes"/>
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <title>Sensors</title>
    </head>
    <body onload="go()">
        <h1>Hydroponics</h1>
        <hr/>
    </body>
</html>
